<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="UniversityMSApp.Properties.Settings.umsConnectionString"
            connectionString="Data Source=DESKTOP-BN6S5L2\SQLEXPRESS;Initial Catalog=ums;Persist Security Info=True;User ID=admin;Password=manish"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>